html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(#000 20%, #565658 60%, #000 );
}

header {
    background-color: #000;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
	width: 40%;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.titulo-principal {
	text-align: center;
	font-size: 55px;
	margin: 0 0 1em;
	clear: left;
	font-weight: bold;
	color: #FFFFFF;
}

.principal p {
	margin: 0 0 1em;
	font-size: 22px;
	color: #FFFFFF;
}

.principal a {
	text-decoration: none;
}

.euft {
	float: left;
	width: 170px;
	border-radius: 3px;
}

#pfts {
	width: 35%;
	border-radius: 50%;
	color: #000;
	transition: 400ms;
}

#pfts:hover {
	opacity: 0.5;
}

.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

#logo {
	width: 35%;
}

.caixacentral p {
	margin: 0 0 0 110px;
}

.skillsfts {
	width: 15%;
	float: left;
	margin: 0 20px 20px 0;
}

.progress-bar {
	background-color: #565658;
	border-color: #000;
	height: 3px;
	border-radius: 50px;
}

.progress-bar::-webkit-progress-bar,.progress-bar::-moz-progress-bar {
	background-color: #FFFFFF;
}

.principal, header {
	opacity: 0;
	filter: blur(15px);
	transform: translateX(-100%);
	transition: all 2s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0%);
	transition: all 2s;
}

#titulo-principal1 {
	border-right: 2px solid #FFF;
	animation: blinckCursor 500ms steps(40) infinite normal, typing 3s steps(40) 1s normal both;
	white-space: nowrap;
	overflow: hidden;
	
}

ul {
	display: flex;
	align-items: center;
	align-content: center;
}

.breves {
	text-align:center
}

#ex1 {
	width: 90%;
	border-radius: 10px;
}

#ex2 {
	width: 90%;
}

#ex3 {
	width: 90%;
}

.copyright {
	color: #FFF;
	text-align: center;
}

#sobre {
	font-size: 30px;
}

#link {
	width: 10%;
}

#gith {
	width: 10%;
	border: solid #FFF;
	border-style: dotted;
}

#front {
	border-right: solid #6c07be;
}

#ads1 {
	border-right: solid #0764ce;
}

.link1 {
	width: 5%;
	margin: 40px 0px 0px 150px;
	transition: 400ms;
}

.link2 {
	width: 5%;
	margin: 40px 0px 0px 50px;
	transition: 400ms;
}

#contato {
	text-align: center;
}

#zapft {
	width: 3%;
}

#telft {
	width: 3%;
}

#nzap a {
	text-decoration: none;
	color: rgb(82, 179, 82)
}

#envioarq{
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #1d1d2e;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#envioarq h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}

#envioarq form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

.ctt2 {
	border-radius: 2%;
	background-color: #000;
}

#gmail {
	width: 3%;
}

footer p {
	color: #FFF;
	text-align: center;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 16.6em;
	}
}

@keyframes blinckCursor {
	from {
		border-right-color: #FFF;
	}
	to {
		border-right-color: transparent;
	}
}

@media screen and (max-width: 950px) {

	#logo {
		width: 80%;
	}

	.links-acesso {
		position: absolute;
		right: 60px;
	}

	.titulo-principal {
		font-size: 35px;
	}

	#inicio {
		width: 80%;
	}

	#inicio p {
		font-size: 16px;
	}
	
	#pfts {
		width: 45%;
	}

	.links {
		position: absolute;
		left: 320px;
		top: 400px;
	}

	.link1, .link2 {
		width: 10%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 20px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 17px;
	}

	.progress-bar {
		width: 25%;
	}

	#html1 {
		position: absolute;
		top: 165px;
		left: 120px;
	}

	#barrahtml {
		position: absolute;
		top: 217px;
		left: 120px;
	}

	#css1 {
		position: absolute;
		top: 350px;
		left: 120px;
	}

	#barracss {
		position: absolute;
		top: 429px;
		left: 120px;
	}

	#java1 {
		position: absolute;
		top: 555px;
		left: 120px;
	}

	#barrajs {
		position: absolute;
		top: 600px;
		left: 120px;
	}

	#projetos {
		width: 80%;
		height: 300px;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#ftjs {
		position: absolute;
		top: 500px;
		left: 0px;
	}

}

@media screen and (max-width: 850px) {


	#logo {
		width: 100%;
	}

	.links-acesso {
		position: absolute;
		right: 120px;
	}

	.links-acesso {
		position: absolute;
		top: -15px;
	}

	.titulo-principal {
		font-size: 30px;
	}

	#inicio {
		width: 80%;
	}

	#inicio p {
		font-size: 14px;
	}
	
	#pfts {
		width: 45%;
	}

	.links {
		position: absolute;
		left: 280px;
		top: 400px;
	}

	.link1, .link2 {
		width: 10%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 20px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 17px;
	}

	.progress-bar {
		width: 25%;
	}

	#html1 {
		position: absolute;
		top: 165px;
		left: 120px;
	}

	#barrahtml {
		position: absolute;
		top: 225px;
		left: 120px;
	}

	#css1 {
		position: absolute;
		top: 350px;
		left: 120px;
	}

	#barracss {
		position: absolute;
		top: 429px;
		left: 120px;
	}

	#java1 {
		position: absolute;
		top: 555px;
		left: 120px;
	}

	#barrajs {
		position: absolute;
		top: 600px;
		left: 120px;
	}

	#projetos {
		width: 80%;
		height: 300px;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#ftjs {
		position: absolute;
		top: 500px;
		left: 0px;
	}

}

@media screen and (max-width: 768px) {

	#logo {
		width: 80%;
	}
	
	.nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
		margin: 50px 0px 0px 0px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

	.links-acesso {
		position: absolute;
		right: 60px;
		top: -20px;
	}

	.titulo-principal {
		font-size: 27px;
	}

	#inicio {
		width: 80%;
	}

	#inicio p {
		font-size: 15px;
	}
	
	#pfts {
		width: 45%;
	}

	.links {
		position: absolute;
		left: 230px;
		top: 410px;
	}

	.link1, .link2 {
		width: 10%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 20px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 15px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 140px;
		left: 100px;
	}

	#barrahtml {
		position: absolute;
		top: 205px;
		left: 100px;
	}

	#css1 {
		position: absolute;
		top: 325px;
		left: 100px;
	}

	#barracss {
		position: absolute;
		top: 405px;
		left: 100px;
	}

	#java1 {
		position: absolute;
		top: 545px;
		left: 100px;
	}

	#barrajs {
		position: absolute;
		top: 595px;
		left: 100px;
	}

	#projetos {
		width: 80%;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#envioarq{
		width: 450px;
	}
	
}

@media screen and (max-width: 700px) {

	.links-acesso {
		position: absolute;
		top: -35px;
	}

	.titulo-principal {
		font-size: 27px;
	}

	#inicio {
		width: 80%;
	}

	#inicio p {
		font-size: 13px;
	}
	
	#pfts {
		width: 45%;
	}

	.links {
		position: absolute;
		left: 200px;
		top: 390px;
	}

	.link1, .link2 {
		width: 10%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 15px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 125px;
		left: 100px;
	}

	#barrahtml {
		position: absolute;
		top: 185px;
		left: 100px;
	}

	#css1 {
		position: absolute;
		top: 320px;
		left: 100px;
	}

	#barracss {
		position: absolute;
		top: 405px;
		left: 100px;
	}

	#java1 {
		position: absolute;
		top: 530px;
		left: 100px;
	}

	#barrajs {
		position: absolute;
		top: 585px;
		left: 100px;
	}

	#projetos {
		width: 80%;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#envioarq{
		width: 400px;
	}

}

@media screen and (max-width: 650px) {

    .mobile-menu-icon {
		margin: 25px 0px 0px 0px;
    }

	.nav-link {
		font-size: 15px;
	}

	.titulo-principal {
		font-size: 20px;
	}

	#inicio {
		width: 80%;
	}

	#inicio p {
		font-size: 13px;
	}
	
	#pfts {
		width: 45%;
	}

	.links {
		position: absolute;
		left: 170px;
		top: 360px;
	}

	.link1, .link2 {
		width: 10%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 15px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 120px;
		left: 100px;
	}

	#barrahtml {
		position: absolute;
		top: 175px;
		left: 100px;
	}

	#css1 {
		position: absolute;
		top: 300px;
		left: 100px;
	}

	#barracss {
		position: absolute;
		top: 385px;
		left: 100px;
	}

	#java1 {
		position: absolute;
		top: 525px;
		left: 100px;
	}

	#barrajs {
		position: absolute;
		top: 580px;
		left: 100px;
	}

	#projetos {
		width: 80%;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#envioarq{
		width: 380px;
	}

}

@media screen and (max-width: 600px) {

	.titulo-principal {
		font-size: 20px;
	}

	#inicio {
		width: 80%;
	}

	#inicio p {
		font-size: 13px;
	}
	
	#pfts {
		width: 45%;
	}

	.links {
		position: absolute;
		left: 150px;
		top: 360px;
	}

	.link1, .link2 {
		width: 10%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 13px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 110px;
		left: 100px;
	}

	#barrahtml {
		position: absolute;
		top: 160px;
		left: 100px;
	}

	#css1 {
		position: absolute;
		top: 300px;
		left: 100px;
	}

	#barracss {
		position: absolute;
		top: 375px;
		left: 100px;
	}

	#java1 {
		position: absolute;
		top: 525px;
		left: 100px;
	}

	#barrajs {
		position: absolute;
		top: 580px;
		left: 100px;
	}

	#projetos {
		width: 80%;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#envioarq{
		width: 320px;
	}

}

@media screen and (max-width: 520px) {

	.mobile-menu-icon {
		margin: 20px 0px 0px 0px;
    }

	.icon {
		width: 80%;
	}

	#logo {
		width: 100%;
	}

	.titulo-principal {
		font-size: 20px;
	}

	#inicio {
		width: 80%;
		height: 450px;
	}

	#inicio img {
		display: block;
		margin: 0 auto;
	}

	.euft {
		float: none;
	}

	#inicio p {
		font-size: 13px;
	}
	
	#pfts {
		width: 40%;
	}

	#front {
		text-align: center;
		position: relative;
		top: -60px;
		border-left: solid #6c07be;
	}

	#ads1 {
		text-align: center;
		position: relative;
		top: -120px;
		border-left: solid #0764ce;
	}

	.links {
		display: flex;
		position: absolute;
		top: 440px;
		left: 0px;
	}

	.link1 {
		width: 15%;
	}

	.link2 {
		width: 30%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 14px;
		margin: 0px 0px 0px 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 13px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 100px;
		left: 100px;
	}

	#barrahtml {
		position: absolute;
		top: 163px;
		left: 100px;
	}

	#css1 {
		position: absolute;
		top: 296px;
		left: 100px;
	}

	#barracss {
		position: absolute;
		top: 380px;
		left: 100px;
	}

	#java1 {
		position: absolute;
		top: 515px;
		left: 100px;
	}

	#barrajs {
		position: absolute;
		top: 575px;
		left: 100px;
	}

	#projetos {
		width: 80%;
		display: flex;
        flex-direction: column;
        text-align: center;
		height: 1050px;
	}

	.projlist {
		width: 100%;
		display: flex;
        flex-direction: column;
        text-align: center;
	}

	.projlist p {
		color: #FFF;
	}

	#proj1 {
		width: 80%;
		border-radius: 3px;
		background-color: #5f5f5f;
		box-shadow: 20px 20px 20px #000;
		
	}

	#proj2, #proj3 {
		width: 80%;
		border-radius: 3px;
		background-color: #5f5f5f;
		box-shadow: 20px 20px 20px #000;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	.projlist li {
		margin-bottom: 50px;
	}

	#contato {
		width: 80%;
	}

	#envioarq{
		width: 265px;
		box-shadow: 20px 20px 20px #000;
	}

	#infosctt p {
		font-size: 13px;
	}

	#zapft, #telft {
		width: 5%;
		position: absolute;
		left: 110px;
	}

	#gmail {
		width: 5%;
		position: absolute;
		left: 60px;
	}

}

@media screen and (max-width: 450px) {

	.mobile-menu-icon {
		margin: 30px 0px 0px 0px;
    }

	.icon {
		width: 80%;
	}

	#logo {
		width: 130%;
	}

	.titulo-principal {
		font-size: 19px;
	}

	#inicio {
		width: 80%;
	}

	#inicio img {
		display: block;
		margin: 0 auto;
	}

	.euft {
		float: none;
	}

	#inicio p {
		font-size: 13px;
	}
	
	#pfts {
		width: 40%;
	}

	#front {
		text-align: center;
		position: relative;
		top: -60px;
		border-left: solid #6c07be;
	}

	#ads1 {
		text-align: center;
		position: relative;
		top: -120px;
		border-left: solid #0764ce;
	}

	.links {
		display: flex;
		position: absolute;
		top: 440px;
		left: 0px;
	}

	.link1 {
		width: 15%;
	}

	.link2 {
		width: 30%;
	}

	#mid1 {
		width: 80%;
		height: 100px;
	}

	#mid1 p {
		font-size: 14px;
		margin: 0px 0px 0px 15px;
	}

	#skills {
		width: 80%;
		height: 600px;
	}

	#skills p {
		font-size: 13px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 100px;
		left: 100px;
	}

	#barrahtml {
		position: absolute;
		top: 169px;
		left: 100px;
	}

	#css1 {
		position: absolute;
		top: 290px;
		left: 100px;
	}

	#barracss {
		position: absolute;
		top: 395px;
		left: 100px;
	}

	#java1 {
		position: absolute;
		top: 515px;
		left: 100px;
	}

	#barrajs {
		position: absolute;
		top: 575px;
		left: 100px;
	}

	#projetos {
		width: 80%;
		height: 950px;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#envioarq form input[type="text"],
	#envioarq form input[type="email"],
	#envioarq form textarea {
		width: 100%;
		height: 25px;
		padding: 8px; 
		box-sizing: border-box;
		margin-bottom: 10px; 
	}

	#envioarq form textarea {
		height: 170px;
	}

	#envioarq{
		width: 220px;
	}

	form label{
		font-size: 14px;
	}

	form input{
		font-size: 11px;
	}

	form textarea{
		font-size: 11px;
	}

	#zapft, #telft {
		width: 5%;
		position: absolute;
		left: 85px;
	}

	#gmail {
		width: 5%;
		position: absolute;
		left: 40px;
	}

}

@media screen and (max-width: 400px) {

	.titulo-principal {
		font-size: 16px;
	}

	#inicio {
		width: 80%;
	}

	#inicio img {
		display: block;
		margin: 0 auto;
	}

	.euft {
		float: none;
	}

	#inicio p {
		font-size: 13px;
	}
	
	#pfts {
		width: 40%;
	}

	#front {
		text-align: center;
		position: relative;
		top: -60px;
		border-left: solid #6c07be;
	}

	#ads1 {
		text-align: center;
		position: relative;
		top: -120px;
		border-left: solid #0764ce;
	}

	.links {
		display: flex;
		position: absolute;
		top: 440px;
		left: 0px;
	}

	.link1 {
		width: 15%;
	}

	.link2 {
		width: 30%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 14px;
		margin: 0px 0px 0px 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 11px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 90px;
		left: 80px;
	}

	#barrahtml {
		position: absolute;
		top: 150px;
		left: 80px;
	}

	#css1 {
		position: absolute;
		top: 284px;
		left: 80px;
	}

	#barracss {
		position: absolute;
		top: 370px;
		left: 80px;
	}

	#java1 {
		position: absolute;
		top: 515px;
		left: 80px;
	}

	#barrajs {
		position: absolute;
		top: 565px;
		left: 80px;
	}

	#projetos {
		width: 90%;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#contato p {
		font-size: 12px;
	}

	#envioarq{
		width: 180px;
	}

	form label{
		font-size: 12px;
	}
	
	form input{
		font-size: 10px;
	}

	form textarea{
		font-size: 10px;
	}

	#zapft, #telft {
		width: 5%;
		position: absolute;
		left: 75px;
	}

	#gmail {
		width: 5%;
		position: absolute;
		left: 30px;
	}

}

@media screen and (max-width: 350px) {

	.mobile-menu-icon {
		margin: 20px 0px 0px 0px;
    }

	.nav-link {
		font-size: 12px;
	}

	.icon {
		width: 50%;
	}

	.titulo-principal {
		font-size: 14px;
	}

	#inicio {
		width: 80%;
		height: 390px;
	}

	#inicio img {
		display: block;
		margin: 0 auto;
	}

	.euft {
		float: none;
	}

	#inicio p {
		font-size: 11px;
	}
	
	#pfts {
		width: 60%;
	}

	#front {
		text-align: center;
		position: relative;
		top: -60px;
		border-left: solid #6c07be;
	}

	#ads1 {
		text-align: center;
		position: relative;
		top: -120px;
		border-left: solid #0764ce;
	}

	.links {
		display: flex;
		position: absolute;
		top: 440px;
		left: 0px;
	}

	.link1 {
		width: 15%;
	}

	.link2 {
		width: 30%;
	}

	#mid1 {
		width: 80%;
	}

	#mid1 p {
		font-size: 14px;
		margin: 0px 0px 0px 15px;
	}

	#skills {
		width: 80%;
		height: 500px;
	}

	#skills p {
		font-size: 10px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 80px;
		left: 80px;
	}

	#barrahtml {
		position: absolute;
		top: 140px;
		left: 80px;
	}

	#css1 {
		position: absolute;
		top: 274px;
		left: 80px;
	}

	#barracss {
		position: absolute;
		top: 360px;
		left: 80px;
	}

	#java1 {
		position: absolute;
		top: 505px;
		left: 80px;
	}

	#barrajs {
		position: absolute;
		top: 555px;
		left: 80px;
	}

	#projetos {
		width: 80%;
		height: 780px;
	}

	#projetos p {
		font-size: 15px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#contato p {
		font-size: 17px;
	}

	#envioarq{
		width: 140px;
	}

	form label{
		font-size: 10px;
	}
	
	form input{
		font-size: 8px;
	}

	form textarea{
		font-size: 8px;
	}

	form button{
		font-size: 10px;
	}

	#infosctt p {
		font-size: 10px;
	}

	#zapft, #telft {
		left: 65px;
	}

	#gmail {
		left: 30px;
	}

}

@media screen and (max-width: 300px) {

	.mobile-menu-icon {
		margin: 10px 0px 0px 0px;
    }

	.icon {
		width: 50%;
	}

	.titulo-principal {
		font-size: 11px;
	}

	#inicio {
		width: 80%;
	}

	#inicio img {
		display: block;
		margin: 0 auto;
	}

	.euft {
		float: none;
	}

	#inicio p {
		font-size: 9px;
	}
	
	#pfts {
		width: 60%;
	}

	#front {
		text-align: center;
		position: relative;
		top: -60px;
		border-left: solid #6c07be;
	}

	#ads1 {
		text-align: center;
		position: relative;
		top: -120px;
		border-left: solid #0764ce;
	}

	.links {
		display: flex;
		position: absolute;
		top: 400px;
		left: -10px;
	}

	.link1 {
		width: 30%;
	}

	.link2 {
		width: 55%;
	}

	#mid1 {
		width: 80%;
		height: 10px;
	}

	#mid1 p {
		font-size: 9px;
		margin: 0px 0px 0px 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 9px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 75px;
		left: 60px;
	}

	#barrahtml {
		position: absolute;
		top: 132px;
		left: 60px;
	}

	#css1 {
		position: absolute;
		top: 268px;
		left: 60px;
	}

	#barracss {
		position: absolute;
		top: 355px;
		left: 60px;
	}

	#java1 {
		position: absolute;
		top: 505px;
		left: 60px;
	}

	#barrajs {
		position: absolute;
		top: 545px;
		left: 60px;
	}

	

	#projetos {
		width: 80%;
		height: 670px;
	}

	#projetos p {
		font-size: 9px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#contato p {
		font-size: 13px;
	}

	#envioarq{
		width: 110px;
	}

	form label{
		font-size: 10px;
	}

	form input{
		font-size: 8px;
	}

	form textarea{
		font-size: 8px;
	}

	form button{
		font-size: 10px;
	}

	#infosctt p {
		font-size: 8px;
	}

	#envioarq button {
		height: 20px;
		text-align: center;
		padding: 0px;
	}

	#zapft, #telft {
		left: 55px;
	}

	#gmail {
		left: 30px;
	}

}

@media screen and (max-width: 250px) {

	.mobile-menu-icon {
		margin: 10px 0px 0px 40px;
    }

	.icon {
		width: 100%;
	}

	#logo {
		width: 150%;
	}

	.titulo-principal {
		font-size: 9px;
	}

	#inicio {
		width: 80%;
		height: 400px;
	}

	#inicio p {
		font-size: 9px;
	}
	
	#pfts {
		width: 60%;
	}

	#front {
		text-align: center;
		position: relative;
		top: -60px;
		border-left: solid #6c07be;
	}

	#ads1 {
		text-align: center;
		position: relative;
		top: -120px;
		border-left: solid #0764ce;
	}

	.links {
		display: flex;
		position: absolute;
		top: 400px;
		left: -10px;
	}

	.link1 {
		width: 30%;
	}

	.link2 {
		width: 55%;
	}

	#mid1 {
		width: 80%;
		height: 10px;
	}

	#mid1 p {
		font-size: 9px;
		margin: 0px 0px 0px 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 8px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 70px;
		left: 50px;
	}

	#barrahtml {
		position: absolute;
		top: 125px;
		left: 50px;
	}

	#css1 {
		position: absolute;
		top: 260px;
		left: 50px;
	}

	#barracss {
		position: absolute;
		top: 340px;
		left: 50px;
	}

	#java1 {
		position: absolute;
		top: 505px;
		left: 50px;
	}

	#barrajs {
		position: absolute;
		top: 555px;
		left: 50px;
	}

	#proj1 {
		width: 35%;
	}

	#projetos {
		width: 80%;
		height: 10px;
	}

	#projetos p {
		font-size: 9px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#contato p {
		font-size: 11px;
	}

	#envioarq{
		width: 60px;
	}

	form label{
		font-size: 10px;
	}

	form input{
		position: relative;
		left: -33px;
		font-size: 8px;
		width: 100px;	
	}

	form textarea{
		position: relative;
		left: -33px;
		font-size: 8px;
		width: 110px;
	}

	form button{
		font-size: 10px;
	}

}

@media screen and (max-width: 214px) {

	.mobile-menu-icon {
		margin: 10px 0px 0px 60px;
    }

	.icon {
		width: 500%;
	}

	#logo {
		width: 500%;
	}

	.titulo-principal {
		font-size: 9px;
	}

	#inicio {
		width: 80%;
		height: 350px;
	}

	#inicio p {
		font-size: 9px;
	}
	
	#pfts {
		width: 60%;
	}

	#front {
		text-align: center;
		position: relative;
		top: -60px;
		border-left: solid #6c07be;
	}

	#ads1 {
		text-align: center;
		position: relative;
		top: -120px;
		border-left: solid #0764ce;
	}

	.links {
		display: flex;
		position: absolute;
		top: 400px;
		left: -10px;
	}

	.link1 {
		width: 30%;
	}

	.link2 {
		width: 55%;
	}

	#mid1 {
		width: 80%;
		height: 10px;
	}

	#mid1 p {
		font-size: 9px;
		margin: 0px 0px 0px 15px;
	}

	#skills {
		width: 80%;
	}

	#skills p {
		font-size: 8px;
	}

	.progress-bar {
		width: 30%;
	}

	#html1 {
		position: absolute;
		top: 70px;
		left: 50px;
	}

	#barrahtml {
		position: absolute;
		top: 125px;
		left: 50px;
	}

	#css1 {
		position: absolute;
		top: 260px;
		left: 50px;
	}

	#barracss {
		position: absolute;
		top: 340px;
		left: 50px;
	}

	#java1 {
		position: absolute;
		top: 505px;
		left: 50px;
	}

	#barrajs {
		position: absolute;
		top: 555px;
		left: 50px;
	}

	#proj1 {
		width: 80%;
	}

	#projetos {
		width: 80%;
		height: 550px;
	}

	#projetos p {
		font-size: 9px;
	}

	.projlist {
		position: absolute;
		top: 130px;
		right: 1px;
	}

	#contato {
		width: 80%;
	}

	#contato p {
		font-size: 11px;
	}

	#envioarq{
		padding: 10px 45px;
		width: 80px;
	}
	
	#envioarq form{
		width: 150%;
	}
	
	form label{
		font-size: 10px;
		margin-bottom: 4px;
	}
	
	form input{
		margin-bottom: 20px;
		font-size: 10px;
		position: relative;
		left: 1px;
	}
	
	form input:focus{
		border-radius: 16px;
	}
	
	form textarea{
		font-size: 10px;
		margin-bottom: 30px;
		position: relative;
		left: 1px;
	}
	
	form textarea:focus{
		border-radius: 16px;
	}
	
	form button{
		padding: 15px;
		font-size: 10px;
		margin-bottom: 20px;
	}
	
	#infosctt p {
		font-size: 8px;
	}

	#zapft, #telft {
		left: 45px;
	}

	#gmail {
		left: 13px;
	}
}
